<!DOCTYPE html>
<html>
  <head>
    <title>UserTracking</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lista de clientes cadastrados nos sites parceiros e páginas por eles acessadas.">
    <meta name="author" content="Diogo de Lima">

    <%= csrf_meta_tags %>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <%= render 'layouts/nav' %>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
